.git
**/.git
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.log
*.bag
*.tar
*.tar.gz
*.zip
!myenv.tar.gz

.codex_backups/
kuavo_data/task1_trans/
datasets/
data/
third_party/openpi/.venv/
third_party/openpi/assets/
third_party/openpi/checkpoints/
third_party/openpi/logs/

outputs/**
!outputs/openpi/
!outputs/openpi/pi05_kuavo_task1_zhuomian_50_lora/
!outputs/openpi/pi05_kuavo_task1_zhuomian_50_lora/5000/
!outputs/openpi/pi05_kuavo_task1_zhuomian_50_lora/5000/**
