.git
**/.git
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.log
*.bag
*.tar
*.tar.gz
!myenv.tar.gz

.codex_backups/
kuavo_data/task1_trans/
datasets/
data/

outputs/**
!outputs/train/
!outputs/train/task1_zhuomian/
!outputs/train/task1_zhuomian/act_real50_smoke/
!outputs/train/task1_zhuomian/act_real50_smoke/run_real50_15ep_20260622_135333/
!outputs/train/task1_zhuomian/act_real50_smoke/run_real50_15ep_20260622_135333/**
